.auth-btn{
  display: grid;
  grid-template: repeat(1, minmax(0, max-content)) / repeat(12, minmax(0, max-content));
  grid-gap: 20px;
  padding: 10px 0;
  border: 3px solid #000;
}

.btn{
  display: grid;
  justify-items: center;
  align-items: center;

  width: 150px;
  height: 45px;
  border-radius: 4px;
}
