.routing{
   display: grid;
   height: 100px;
}
.routing__items{
   display: inherit;
   grid-template-columns:  1fr 5fr; 
   grid-gap: 30px;
   justify-content: center;
   align-items: center;
   border: 3px solid #000;
}
.routing__item:first-child{
   margin-left: 20px ;
   height: 35px;
   border: 1px solid #000;
}