.routing{
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(3, 1fr);
   border: 1px solid #000;
}

.routing__item:first-child{
   margin-left: 20px ;
   height: 35px;
   border: 2px solid #000;
}