.info {
   display: grid;
}

.info__form {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(2, 1fr);
   justify-items: center;
   align-items: center;
   margin-bottom: 30px;
}

.info__formItem {
   color: lightseagreen;
}

.time {
   grid-row: 2;
}

.info__list {
   list-style-type: none;
   margin-left: 20px;
}

.info__listItem {
   padding-bottom: 10px;
}