.chat{
   display: grid; 
}
.wrap{
   display: grid;
   grid-template-columns: 400px 1fr; 
   margin-bottom: 20px;
}
.btn{
   grid-row: 2;
   height: 50px;
}
.tarea{
   
}
.output{
   border: 1px solid red;
   overflow: scroll;
   overflow-x: hidden;
   height: 52px;
}

.list{
  
} 
.item-name{
   font-weight: 700;
}
.item-message{

}

