.container {
  margin: 0 auto;
  width: 1800px;
  border: 1px solid orangered;
  display: grid;
}

.App {
  height: 100%;
  padding-bottom: 120px;/*100px footer + 20px отступ*/
}

.ui-link {
  transition-duration: .3s;
  transition-property: color;
  text-decoration: none;
  
}
.ui-link:hover{
  color: red;
}
a{
  cursor: pointer;
}
