
.container{
  margin: 0 auto;
  width: 1800px;
  border: 1px solid orangered;
  display: grid;
}

.App{
  display: grid; 
  height: 100%;
  grid-template-rows: 500px 1fr 100px;
  grid-gap: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  0% {
    color: red;
    transform: rotate(0deg)
  }

  100% {
    color: red;

    transform: rotateX(360deg)
  }

}
