/*
*/
body{
   /*
      Единица fr(фракции) 3fr 1fr 1fr. При общей ширине в 100px
      1я колонка будет занимать 3fr из 5 возможных
      100 / 3+1+1 = 20px (1fr) значит 60px 1я колонка
   */
   grid-template-rows: repeat();/*кол-во строк и их высота*/
   grid-auto-rows: 100px;/*высота по ум.*/
   grid-column-gap: 20px;/*расстояния солонок*/
   grid-row-gap: 20px;/*расстояния строк*/
   grid-gap: 20px;/*общее расстояния*/
}