.phone {
   display: grid;

}
.phone__form{
   width: 200px;
   
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   grid-gap: 20px;
   border: 1px solid #000;
}

.phone__items{
   display: grid;
   grid-gap: 10px;
   padding: 20px; 
}
.phone__items:nth-child(2)  {
   display: grid;
   align-items: center;
   background-color: #fff;
}
.phone__items:nth-child(2) .block-info {
  grid-column: 2;
}
/* 
.select__item {

} 
*/

